.invoice-wrapper {
  display: flex;
  @media (max-width: 769px) {
    flex-direction: column;
    }

  .info-container {
    min-width: 25%;
    margin: 2rem;
    }

  .table-container {
    width: 100%;

    table {
      margin-top: 1rem;
      width: 100%;
      min-width: 400px;
      @media (max-width: 769px) {
        min-width: 100%;
        }
      }

    .total {
      text-align: end;
      margin: 0.5rem;
      }
    }

  .no-items {
    margin: 2rem;
    width: 100%;
    text-align: center;
    font-weight: bold;
    }
  }
