<div class="invoice-wrapper">
  <div *ngIf="companyInfo | async as company" class="info-container">
    <h1>{{company.name}}</h1>
    <h2>{{company.address}}</h2>
    <p>Phones: {{company.phones | arrayToString}}</p>
  </div>
  <div class="table-container" *ngIf="newInvoice.length; else noData">
    <table mat-table [dataSource]="newInvoice">

      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef>Item</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef>Count</th>
        <td mat-cell *matCellDef="let element"> {{element.count}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <div class="total">Total: {{totalValue}}</div>
  </div>

  <ng-template #noData>
    <p class="no-items">No items</p>
  </ng-template>

</div>
