<form [formGroup]="newInvoiceForm" class="new-invoice-form">
  <ng-container formArrayName="invoiceItems">
    <ng-container *ngFor="let itemForm of newInvoiceForm.controls.invoiceItems.controls; let i = index">
      <div class="form-row" [formGroup]="itemForm">

        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput
                 required
                 type="text"
                 formControlName="name"/>
          <mat-error>{{itemForm.controls.name | errorMessage | async}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Count</mat-label>
          <input matInput
                 required
                 type="number"
                 formControlName="count"/>
          <mat-error>{{itemForm.controls.count | errorMessage | async}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Price</mat-label>
          <input matInput
                 required
                 type="number"
                 formControlName="price"/>
          <mat-error>{{itemForm.controls.price | errorMessage | async}}</mat-error>
        </mat-form-field>

        <button mat-icon-button color="primary" aria-label="Remove this item" (click)="removeInvoiceItemFormGroup(i)">
          <mat-icon>delete</mat-icon>
        </button>

      </div>
    </ng-container>
  </ng-container>

  <div class="buttons-container">
    <button mat-button color="primary" (click)="addInvoiceItemFormGroup()">
      <mat-icon>add</mat-icon>
      Add new item
    </button>
    <button mat-raised-button color="primary" (click)="onSubmit()">
      Submit
    </button>
  </div>

</form>
