.new-invoice-form {
  padding-top: 2rem;

  .mat-form-field {
    padding-right: 1rem;
    }

  .buttons-container {
    display: flex;
    align-items: center;

    .mat-button {
      margin: 1rem;
      }
    }
  }
