<nav mat-tab-nav-bar color="accent">
  <a mat-tab-link routerLink="/new-invoice" routerLinkActive="active">New invoice</a>
  <a mat-tab-link routerLink="/invoice-preview" routerLinkActive="active">Preview invoice</a>
</nav>
